html {
    font-size: 110%;
}

html, body, p, h1, h2, h3, h4, h5, input, button, div, textarea {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(121 238 255);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#slots-panel {
    display: flex;
    align-items: stretch;
    &.horizontal {
        flex-direction: row;
        min-height: 100svh;
    }
    &.vertical {
        flex-direction: column;
        height: auto;
        min-height: 100svh;
        .slot-cities {
            text-align: center;
            .city {
                display: inline-block;
                margin: 0 0.5em;
            }
        }
    }

    .slot {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em 0;

        .slot-top-filler {
            flex: 1;
        }
        .slot-main {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .slot-time {
                font-size: 2.4em;
            }
            .slot-day {
                margin-top: 0.5em;
            }
            .slot-diff {
                margin-top: 0.5em;
                margin-bottom: 0.8em;
                letter-spacing: 0.04em;
            }
        }
        .slot-cities {
            flex: 1;
            padding: 0 1em;
            .city {
                white-space: nowrap;
                .flag {
                    display: inline-block;
                    transform: translateY(1px);
                    margin-right: 5px;
                }
            }
        }
    }
}

#btn-add-city {
    position: absolute;
    top: 18px;
    left: 22px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background-color: white;
    border: 2px solid #000;
    border-radius: 50%;
    box-shadow: 2.5px 2.5px 0px black;

    @duration: 0.15s;
    transition: box-shadow @duration ease, transform @duration ease;
    &:hover {
        box-shadow: 0px 0px 0px black;
        transform: translateY(2px) translateX(2px);
    }

    > span { // The "+" symbol
        font-size: 3em;
        line-height: 100%;
        transform: translateY(-7%);
    }
}
