#slots-panel {
    display: flex;
    align-items: stretch;
    &.horizontal {
        flex-direction: row;
        min-height: 100svh;
    }
    &.vertical {
        flex-direction: column;
        height: auto;
        min-height: 100svh;
        .slot-cities {
            text-align: center;
            .city {
                display: inline-block;
                margin: 0 0.5em;
            }
        }
    }

    .slot {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;

        .slot-top-filler {
            flex: 1;
        }
        .slot-main {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .slot-time {
                font-size: 2.4em;
                white-space: nowrap;
            }
            .slot-day {
                margin-top: 0.5em;
            }
            .slot-diff {
                margin-top: 0.5em;
                margin-bottom: 0.8em;
                letter-spacing: 0.04em;
            }
        }
        .slot-cities {
            flex: 1;
            .city {
                padding: 0.25em 0;
                .flag {
                    display: inline-block;
                    transform: translateY(1px);
                    margin-right: 5px;
                }
                &:hover {
                    cursor: pointer;
                    color: red;
                }
            }
        }
    }
}

#slots-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    font-size: 1em;
    .plus {
        font-size: 1.5em;
    }
}
